@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="container-fluid">
        <span> <br>  <br>  </span>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-30">
                    <div class="top_row">
                        <h1>Contact Us</h1>
                    </div>
                    <br>
                <p>On this site you're always welcome; whether you have an enquiry, feedback or want to talk to us about reservations for accommodation, conferences or private functions, there are a number of ways you can reach us.</p>
                    <div class="contact_details">
                        <ul>
                            <li><strong>Tel:</strong> +92 324- (6482400 , 4804924)</li>
                            <li><strong>UAN:</strong> 111 BookHotel (111 282 747)</li>
                            <li><strong>Toll-Free:</strong> 0800-88888</li>
                            <li><strong>Fax:</strong> (92-42) 3-6365367</li>
                            <li><strong>Email:</strong> <a href="bookhotel7@gmail.com">bookhotel.com</a></li>
                        </ul>
                        <br>
                        <h3>Book Hotel Lahore,<br />87 Shahrah-e Quaid-e-Azam,<br />Lahore 54000, Pakistan</h3>
                    </div>
                    <br >
                    <ul>
                        <li><strong>Chair Person:</strong> <a href="bsef12a004@pucit.edu.pk">Mahmood</a></li>
                        <li><strong>Executive Manager:</strong> <a href="bsef12a026@pucit.edu.pk">Abdullah</a></li>

                        </ul>   
</div>
            </div>
          </div>
    </div>


