
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- //welcome -->
    <!-- services -->
    <div class="feature-serv">
        <div class="container">
            <h3 class="tittle">FEATURED SERVICES</h3>
            <div class="services-bottom-grids">
                <div class="col-md-4 services-bottom-grid">
                    <div class="services-bottom-grd-left wel-grid">
                        <div class="time-service">
                            <figure class="icon">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </figure>
                        </div>
                    </div>
                    <div class="services-bottom-grd-right">
                        <h4>Hotel Reservation</h4>
                        <p>You can book hotel of your choice and in your range from our website at your ease.</p>
                    </div>

                    <div class="clearfix"> </div>


                    <div class="time-service">
                        <figure class="icon">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </figure>
                    </div>
                </div>

                <div class="services-bottom-grd-right">
                    <h4>Search Hotels In Your Desired Location</h4>

                </div>

                <div class="clearfix"> </div>


                <div class="time-service">
                    <figure class="icon">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </figure>
                </div>
            </div>

            <div class="services-bottom-grd-right">
                <h4>Show Best Deals of your choosen hotel</h4>
            </div>

            <div class="clearfix"> </div>


            <div class="time-service">
                <figure class="icon">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                </figure>
            </div>
            <div class="services-bottom-grd-right">
                <h4>Reserve Rooms</h4>
            </div>
            
            <div class="clearfix"> </div>


            <div class="time-service">
                <figure class="icon">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                </figure>
            </div>
        
        <div class="services-bottom-grd-right">
            <h4>Reserve Halls </h4>

        </div>

        <div class="clearfix"> </div>


        <div class="time-service">
            <figure class="icon">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            </figure>
        </div>
    </div>

        </div>

            
         
    


    <!-- //services -->
    <!-- gallery -->
    <div class="gallery" id="gallery">
        <div class="container">
            <h3 class="tittle">Services Or Facilities</h3>
            <div class="gallery-bottom">
                <div class="col-md-4 gal-grid">
                    <div class="view view-fifth">
                        <a href="~/Images/aaa.jpg" class="b-link-stripe b-animate-go  thickbox" title="Image Title">
                            <img src="~/Images/aaa.jpg" alt="" class="img-responsive">
                            <div class="mask">
                                <h4>BOOK HOTEL</h4>
                                <p>A wonderful serenity has taken possession of my entire soul.</p>
                                <span>More</span>
                            </div>
                        </a> 
                    </div>
                </div>
                <div class="col-md-4 gal-grid">
                    <div class="view view-fifth">
                        <a href="~/Images/bbb.jpg" class="b-link-stripe b-animate-go  thickbox" title="Image Title">
                            <img src="~/Images/bbb.jpg" alt="" class="img-responsive">
                            <div class="mask">
                                <h4>BOOK HOTEL</h4>
                                <p>A wonderful serenity has taken possession of my entire soul.</p>
                                <span>More</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 gal-grid">
                    <div class="view view-fifth">
                        <a href="~/Images/ccc.jpg" class="b-link-stripe b-animate-go  thickbox" title="Image Title">
                            <img src="~/Images/ccc.jpg" alt="" class="img-responsive">
                            <div class="mask">
                                <h4>BOOK HOTEL</h4>
                                <p>A wonderful serenity has taken possession of my entire soul.</p>
                                <span>More</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 gal-grid">
                    <div class="view view-fifth">
                        <a href="~/Images/ddd.jpg" class="b-link-stripe b-animate-go  thickbox" title="Image Title">
                            <img src="~/Images/ddd.jpg" alt="" class="img-responsive">
                            <div class="mask">
                                <h4>BOOK HOTEL</h4>
                                <p>A wonderful serenity has taken possession of my entire soul.</p>
                                <span>More</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 gal-grid">
                    <div class="view view-fifth">
                        <a href="~/Images/eee.jpg" class="b-link-stripe b-animate-go  thickbox" title="Image Title">
                            <img src="~/Images/eee.jpg" alt="" class="img-responsive">
                            <div class="mask">
                                <h4>BOOK HOTEL</h4>
                                <p>A wonderful serenity has taken possession of my entire soul.</p>
                                <span>More</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 gal-grid">
                    <div class="view view-fifth">
                        <a href="~/Images/bbb.jpg" class="b-link-stripe b-animate-go  thickbox" title="Image Title">
                            <img src="~/Images/bbb.jpg" alt="" class="img-responsive">
                            <div class="mask">
                                <h4>BOOK HOTEL</h4>
                                <p>A wonderful serenity has taken possession of my entire soul.</p>
                                <span>More</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 gal-grid">
                    <div class="view view-fifth">
                        <a href="~/Images/ggg.jpg" class="b-link-stripe b-animate-go  thickbox" title="Image Title">
                            <img src="~/Images/ggg.jpg" alt="" class="img-responsive">
                            <div class="mask">
                                <h4>BOOK HOTEL</h4>
                                <p>A wonderful serenity has taken possession of my entire soul.</p>
                                <span>More</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 gal-grid">
                    <div class="view view-fifth">
                        <a href="~/Images/bbb.jpg" class="b-link-stripe b-animate-go  thickbox" title="Image Title">
                            <img src="~/Images/bbb.jpg" alt="" class="img-responsive">
                            <div class="mask">
                                <h4>BOOK HOTEL</h4>
                                <p>A wonderful serenity has taken possession of my entire soul.</p>
                                <span>More</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 gal-grid">
                    <div class="view view-fifth">
                        <a href="~/Images/aaa.jpg" class="b-link-stripe b-animate-go  thickbox" title="Image Title">
                            <img src="~/Images/aaa.jpg" alt="" class="img-responsive">
                            <div class="mask">
                                <h4>BOOK HOTEL</h4>
                                <p>A wonderful serenity has taken possession of my entire soul.</p>
                                <span>More</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <script src="~/Scripts/jquery.chocolat.js"></script>

            <!--light-box-files -->
            <script type="text/javascript">
                $(function () {
                    $('.gallery a').Chocolat();
                });
            </script>

        </div>
    </div>















